
<div class="resources grid grid-2col">
  <div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
    </div>
            <!-- Start Date Input -->
            <label for="startdate">{{localize "GLTIMELINE.dialog.start_date"}}</label>
            <input type="date" id="startdate" name="startdate" value="{{startdate}}">
            <br><br>
    
            <!-- End Date Input -->
            <label for="enddate">{{localize "GLTIMELINE.dialog.end_date"}}</label>
            <input type="date" id="enddate" name="enddate" value="{{enddate}}">
            <br><br>
    
            <!-- Color Picker -->
            <label for="colorevent">{{localize "GLTIMELINE.dialog.start_date"}}</label>
            <input type="color" id="colorevent" name="colorevent" value="{{colorevent}}">
            <input type="text" id="gioppo" name="gioppo" value="{{gioppo}}">
            <br><br>
    <input type="submit" value={{localize 'GLTIMELINE.dialog.save'}} />

  </div>
</div>